@inherits avt.ActionForm.Core.ViewModels.FormFieldWebViewPage<ImageButtonFieldVM>
@using System.Web.Mvc
@using avt.ActionForm
@using avt.ActionForm.Core.ViewModels.Main

@if (!ViewData.ContainsKey("renderInner"))
{
    @TemplatePartial(
        "_Container",
        new ContainerVM(Model) { AddClasses = "btnc-" + Model.ButtonAlign.ToLower() },
        new ViewDataDictionary(ViewData) { { "renderInner", "true" } }
    )
}
else
{
    AddAttribute("title", Model.ShortDescTokenized, !string.IsNullOrWhiteSpace(Model.ShortDescTokenized));
    AddAttribute("ng-show", Model.BindShowCompiled, !string.IsNullOrWhiteSpace(Model.BindShowCompiled));
    AddAttribute("ng-click", "form.fields." + Model.Name + ".onChange(form);", !string.IsNullOrWhiteSpace(Model.BindOnChange));
    AddAttribute("data-validation", "on", Model.CausesValidation);
    if (Model.IsConditionallyEnabled)
    {
        AddAttribute("data-submiturl", Model.Settings.GetMvcAjaxUrl("Submit") + "&event=click&b=" + Model.Id);
        AddAttribute("data-submitquery", Model.Settings.GetAjaxQuery() + "&event=click&b=" + Model.Id);
    }

    var imgAttrs = NewAttributes();
    if (!string.IsNullOrWhiteSpace(Model.CssStyles))
    {
        AppendRawStyles(imgAttrs, Model.CssStyles);
    }

    <a href="" type="image" id="@Model.ElementId" class="submit form-button @Model.CssClass" @ElementAttributes()>
        <img src="@Model.ImageURL" @ElementAttributes(imgAttrs) />
    </a>
}