<div class="contact" itemscope itemtype="http://schema.org/ContactPoint">
    {{#if Mailing_Address}}<h4>Address</h4>{{/if}}
    <div class="contact--address">
        <span class="address--street-address street-address__1">{{Street_Address_1}}</span>
        {{#if Street_Address_2}}
            <span class="address--street-address street-address__2">{{Street_Address_2}}</span>
        {{/if}}
        <span class="address--city">{{City}}</span>,
        <span class="address--state">{{State}}</span>
        <span class="address--zip">{{Zip_Code}}</span>
    </div>
    {{#if Mailing_Address}}
        <h4>Mailing Address</h4>
        <address class="contact--address address__mailing" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span class="address--street-address street-address__1" itemprop="streetAddress">{{Mailing_Street_Address}}</span>
            {{#if Mailing_Street_Address_2}}
                <span class="address--street-address street-address__2">{{Mailing_Street_Address_2}}</span>
            {{/if}}
            <span class="address--city" itemprop="addressLocality">{{Mailing_City}}</span>,
            <span class="address--state" itemprop="addressRegion">{{Mailing_State}}</span>
            <span class="address--zip" itemprop="postalCode">{{Mailing_Zip_Code}}</span>
        </address>
    {{/if}}
    <div class="contact--phone" itemprop="telephone">
        <span>Phone:</span> <a href="tel:{{Phone}}">{{Phone}}</a>
    </div>
    <div class="contact--email" itemprop="email">
        <span>Email:</span> <a href="mailto:{{Email}}">{{Email}}</a>
    </div>
</div>
