{{registerstylesheet "/DesktopModules/OpenContent/css/font-awesome/css/font-awesome.css"}}
{{registerscript "/DesktopModules/OpenContent/js/alpaca-1.5.8/lib/handlebars/handlebars.js"}}
{{registerscript "template.min.js"}}

<div  data-moduleid="{{Context.ModuleId}}">
    <H1>Look at the rosters.</H1>

    <div >
        <div >
            <div >
                {{#each Items}}
                <div >
                    <header>
                        <h3>Step {{rosterId}} {{Name}}</h3>
                    </header>
                    <div>
                        {{GroupId}}
                    </div>
                    <div>
                        {{GroupIDValue}}
                    </div>
                    <div>
                        {{RosterCode}}
                    </div>
                    <div>
                        {{Sequence}}
                    </div>
                </div>
                
                {{/each}}
            </div>
        </div>
    </div>
</div>
